.App {
  height: 100vh;
}

header {
  margin-bottom: 30px;
  padding-bottom: 10px;
  text-align: center;
  color: whitesmoke;
  background-color: #373b41;
  h1 {
    display: inline;
  }
  .developer-details {
    padding-top: 10px;
    margin-bottom: 30px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    width: 300px;
    .github-icon {
      &:hover {
        cursor: pointer;
      }
    }
    .linkedin-icon {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

h1 {
  display: inline;
  margin-right: 20px;
}
