.car-form-container {
  margin: 0 40px;
  .info-wrapper {
    flex: 1;
    display: flex;
    .input-and-label-container {
      display: flex;
      align-items: center;
      width: 100%;
      label {
        flex: 1;
        margin-right: 4px;
        font-weight: bold;
      }
      input,
      select {
        flex: 2;
      }
    }
  }
  .bottom-buttons-container {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    button {
      width: 100px;
    }
  }
  .field-error {
    color: red;
    font-size: x-small;
    margin: 0 0 10px 0;
  }
  .server-error {
    color: red;
  }
}
